<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ajout User</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
 <div class="row">
     <div class="col-md-6 mx-auto">
         <div class="card rounded-0">
             <div class="card-header">
                 <h3 class="mb-0">Ajouter un User</h3>
             </div>
             <div class="card-body">
                <form class="form">
                    <div class="form-group">
                        <label for="">Entre Username</label>
                        <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Rôle</label>
                        <select name="role" id="">
                            <option value="0">Choisir</option>
                            <option value="1">Administrateur</option>
                            <option value="2">AdminPartenaire</option>
                            <option value="3">CaissierPartenaire</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Password</label>
                        <input [(ngModel)]="registerUserData.plainPassword" name="plainPassword" type="password" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Prenom</label>
                        <input [(ngModel)]="registerUserData.prenom" name="prenom" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Nom</label>
                        <input [(ngModel)]="registerUserData.nom" name="nom" type="text" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer CNI</label>
                        <input [(ngModel)]="registerUserData.cni" name="cni" type="number" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Téléphone</label>
                        <input [(ngModel)]="registerUserData.telephone" name="telephone" type="number" class="form-control rounded-0" required>
                    </div>
                    <div class="form-group">
                        <label for="">Entrer Adresse</label>
                        <input [(ngModel)]="registerUserData.adresse" name="adresse" type="text" class="form-control rounded-0" required>
                    </div>
                    <button (click)="registerUser()" type="button" class="btn-primary float-right">Ajouter</button>
                </form>
             </div>
         </div>
     </div>
 </div>
 </html>